*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;    
    font: normal 17pt monospace;
}

body{
    background-image: url(background.png);
    height: 100vh;
    background-size: cover; /* Faz a imagem cobrir todo o background */
    background-repeat: no-repeat; /* Impede que a imagem se repita*/
    padding: auto 20px 10px 10px;
   
}

h1{
    font: bold 22pt monospace;
    padding: 10px;
    text-align: center;
    color:#004235 ;
}
.conteiner{
    background-color: rgb(173, 173, 173);
    width: 40vh;
    height: auto;
    padding-bottom: 10px;
    border-radius: 20px;
    margin: 30px auto;
}

.input-prod{
border: none;
border-radius: 15px;
width: 37vh;
height: 40px;
padding: 10px;
margin: 15px;
}

.add-prod{
    padding: 0px 15px;
    height: 40px;
    display: flex;
    margin: auto ;
    border-radius: 15px;
    font-size: 17pt;
    color: white;
    background-color: rgb(3, 17, 43);
    cursor: pointer;
    
}

.add-prod:active{
    opacity: 0.7;
    font-weight: bolder;
}
img{
   height: 30px;
}

.list-prod{
    list-style: none;
    width: 95%;
    margin: 10px;
}

.prod{
    background-color: #f2f2f2;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 15px;
   border-radius: 10px;
   margin-bottom: 10px;
   cursor: pointer;
}
.comprado{
    background-color: #f5084f;
    text-decoration: line-through;
}

p{
    font-size: 18pt;
}

@media(min-width:770px){

    h1{
        font: bold 22pt monospace;
        padding: 10px;
        text-align: center;
        color:#004235 ;
    }
    
    .add-prod:hover{
        opacity: 0.9;
        font-weight: bold;
    }
    .add-prod:active{
        opacity: 0.7;
        font-weight: bolder;
    }
    img{
       height: 30px;
       opacity: 0;
       transition: opacity 0.7s ease-in-out;
    }
    
    .list-prod{
        list-style: none;
        width: 95%;
        margin: 10px;
    }
    
    .prod{
        background-color: #f2f2f2;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
        height: 50px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0px 15px;
       border-radius: 10px;
       margin-bottom: 10px;
       cursor: pointer;
    }
    
    .prod:hover img{
        opacity: 1;
    }
    
    .comprado{
        background-color: #f5084f;
        text-decoration: line-through;
    }

    p{
        font: 18pt;
    }
}